<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b864eb21-4bb3-4469-8ecb-da4c3ff378b6/resourcegroups/test/providers/Microsoft.ContainerRegistry/registries/ReactAspCRUDBackend20230701160650</ResourceId>
    <ResourceName>ReactAspCRUDBackend20230701160650</ResourceName>
    <ResourceGroup>test</ResourceGroup>
    <Subscription>Visual Studio Enterprise Subscription</Subscription>
    <RegistryUrl>https://reactaspcrudbackend20230701160650.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>52e41fde-9195-4306-bfeb-fdfc0fde0866</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>